@import "index";
$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);
// ### Neutral
$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black-with-75-opacity-for-lightbox-background: hsl(0, 0%, 0%);

// img {
  // height: 100%;
// }

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: 'Kumbh Sans', sans-serif;
  // #root {
  //   @media (min-width: 64rem) {
  //   height: 100vh;
  //   }
  // }
  header {
    padding: 1.25rem 1.5rem;
    @media (min-width: 64rem) {
      padding: 1.5rem 10.25rem 0;
    }
    .header__container {
      @include flex__JSB;
      position: relative;
      align-items: center;
      @media (min-width: 64rem) {
      padding-bottom: 2rem;
      border-bottom: 1px solid $Light-grayish-blue;
    }
      .left {
        display: flex;
        align-items: center;
        gap: 1rem;
        @media (min-width: 64rem) {
          gap: 3.375rem;
        }
        button {
          all: unset;
          z-index: 5;
          width: 16px; 
          height: 15px;
          background: url(./images/icon-menu.svg) center/cover no-repeat;
          &.close {
          background: url(./images/icon-close.svg) center/cover no-repeat;
          }
          @media (min-width: 64rem) {
            display: none;
          }
        }
        nav {
          z-index: 3;
          position: fixed;
          left: -100%;
          top: 0;
          width: 100%;
          background: rgba($color: $Black-with-75-opacity-for-lightbox-background, $alpha: .75);
          height: 100vh;
          transition: .2s ease-in;
          @media (min-width: 64rem) {
            all: unset;
            // flex: 1;
          }
          &.show {
            left: 0;
          }
          ul {
            padding-top: 5.875rem;
            background: $White;
            width: 70%;
            height: 100%;
            padding-left: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            @media (min-width: 64rem) {
              flex-direction: row;
              padding-top: unset;
              width: unset;
              padding-left: unset;
            }
            li {
              position: relative;
              a {
                color: black;
                font-weight: 700;
                @media (min-width: 64rem) {
                  color: $Dark-grayish-blue;
                  font-weight: 400;
                  &::before {
                    position: absolute;
                    content: '';
                    background: $Orange;
                    height: 5px;
                    width: 100%;
                    bottom: 0;
                    top: 3.8rem;
                    scale: 0;
                    transition: .4s ease;
                  }
                  &:hover {
                    color: $Very-dark-blue;
                    &::before {
                      scale: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        gap: 1rem;
        @media (min-width: 64rem) {
          gap: 2.75rem;
        }
        .cart-box {
          position: relative;
          cursor: pointer;
          &.show {
            &::before {
              position: absolute;
              content: attr(data-cart-items);
              top: -0.5rem;
              left: .5rem;
              background-color: $Orange;
              width: 20px;
              height: 14px;
              color: white;
              display: grid;
              place-items: center;
              font-size: .6rem;
              border-radius: 100vw;
            }
          }
        }
          img {
          width: 1.5rem;
          height: 1.5rem;
          @media (min-width: 64rem) {
            height: 50px;
            width: 50px;
            cursor: pointer;
            &:hover {
              border-radius: 50%;
              border: 2px solid $Orange;
            }
          }
        }
      }
      .cart {
        background: $White;
        position: absolute;
        top: 3.2rem;
        left: -1rem;
        right: -1rem;
        min-height: 16rem;
        z-index: 2;
        border-radius: .5rem;
        box-shadow: 0 10px 10px rgba($color: #000000, $alpha: .4);
        display: flex;
        flex-direction: column;
        transition: .4s ease;
        opacity: 0;
        visibility: hidden;
        @media (min-width: 64rem) {
          top: 4.5rem;
          left: unset;
          right: -5rem;
          width: 360px;
        }
        &.show {
          opacity: 1;
          visibility: visible;
        }
        h3 {
          margin: 1rem 1.5rem 2rem;
          font-size: 1rem;
        }
        .empty {
          flex: 1;
          border-top: 1px solid $Grayish-blue;
          display: grid;
          place-items: center;
          color: $Dark-grayish-blue;
          font-weight: 700;
        }
        .item {
          flex: 1;
          padding: 1.5rem;
          border-top: 1px solid $Grayish-blue;
          display: grid;
          gap: 1.5rem;
          .text__content {
            display: flex;
            align-items: center;
            gap: 1rem;
            height: 3.25rem;
            .image {
              width: 3.25rem;
              height: 100%;
              border-radius: .4rem;
              background: url(./images/image-product-1-thumbnail.jpg) center/cover no-repeat;
            }
            .text {
              flex: 1;
              color: $Dark-grayish-blue;
              font-size: .88rem;
              display: grid;
              gap: .5rem;
              letter-spacing: .05rem;
              span {
                color: $Very-dark-blue;
                font-weight: 700;
              }
            }
            .delete {
              all: unset;
              width: 0.875rem;
              height: 1rem;
              cursor: pointer;
              background: url(./images/icon-delete.svg) center/cover no-repeat;
            }
          }
          .checkout {
            border: none;
            background: $Orange;
            border-radius: .5rem;
            min-height: 3.25rem;
            color: white;
            font-weight: 700;
            letter-spacing: .1rem;
          }
        }
      }
    }
  }
  main {
  @media (min-width: 64rem) {
    height: 100%;
    padding: 5.75rem 10.25rem 8rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: 30rem 1fr;
  }
    .gallery {
      .swiper {
        position: relative;
        cursor: pointer;
        @media (min-width: 64rem) {
          border-radius: .8rem;
          width: 445px;
        }
        .custom-navigation {
          width: 100%;
          z-index: 1;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding-inline: 1rem;
          display: flex;
          justify-content: space-between;
          @media (min-width: 64rem) {
            display: none;
          }
          button {
            all: unset;
            cursor: pointer;
            background-color: white;
            background-image: url(./images/icon-next.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            &:nth-child(1) {
              background-image: url(./images/icon-previous.svg);
            }
          }
        }
    }
    .small {
      display: none; 
      @media (min-width: 64rem) {
        height: 5.75rem;
        margin-top: 2.2rem;
        display: block;
        overflow: visible;
        .thumbnails {
          border-radius: .5rem;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          img {
            height: 100%;
          }
          &::before {
            @include overlay;
          }
          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
    .text__container {
      margin-top: 1.5rem;
      padding:  0 1.5rem 5.5rem;
      display: grid;
      gap: 1rem;
      @media (min-width: 64rem) {
          gap: 1.5rem;
          margin-top: unset;
          padding-bottom: 4.75rem;
          padding-top: 3.75rem;
        }
      h1 {
        color: $Orange;
        font-size: .85rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .05rem;
      }
      h2 {
        margin-top: .2rem;
        line-height: 1.18;
        font-size: 1.7rem;
        letter-spacing: .05rem;
        color: $Very-dark-blue;
        @media (min-width: 64rem) {
          font-size: 2rem;
        }
      }
      > p {
        color: $Dark-grayish-blue;
        font-size: .9rem;
        line-height: 1.2;
        @media (min-width: 64rem) {
          line-height: 1.5;
        }
      }
      .price__container {
        margin-top: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 64rem) {
          margin-top: unset;
          flex-direction: column;
          align-items: flex-start;
        }
        p {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: 1.6rem;
          font-weight: 700;
          span {
            min-width: 50px;
            height: 1.5rem;
            @include place__item__center;
            border-radius: 5px;
            background-color: #ff7d1a26;
            small {
              color: $Orange;
              letter-spacing: .04rem;
              font-size: .8rem;
            }
          }
        }
        .initial__price {
          color: $Grayish-blue;
          font-weight: 700;
          font-size: .8rem;
          text-decoration: line-through;
        }
      }
      .bottom {
        @media (min-width: 64rem) {
          display: grid;
          place-content: center;
          gap: 1rem;
          grid-template-columns: 1fr 1fr;
        }
        .number {
          background: $Light-grayish-blue;
          text-align: center;
          height: 3.5rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          border-radius: .5rem;
          button {
            all: unset;
            background: url(./images/icon-plus.svg) no-repeat;
            background-position: right 1rem center;
            cursor: pointer;
            position: relative;
            @media (min-width: 64rem) {
            &::before {
            @include overlay;
            }
            &:hover {
            &::before {
            opacity: 1;
            }
            }
          }
            &:nth-child(1) {
            background: url(./images/icon-minus.svg) no-repeat;
            background-position: left 1rem center;
            }
          }
          span {
            display: grid;
            place-items: center;
            font-weight: 700;
          }
        }

        > button {
          width: 100%;
          height: 3.5rem;
          outline: none;
          border: none;
          border-radius: .5rem;
          margin-top: 1rem;
          background: $Orange;
          color: white;
          font-weight: 700;
          font-size: .9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          position: relative;
          @media (min-width: 64rem) {
            &::before {
            @include overlay;
            }
            &:hover {
            &::before {
            opacity: 1;
            }
            }
          }
          @media (min-width: 64rem) {
            margin-top: unset;
          }
          svg {   
          }
        }
      }
    }
  }
} 